
src/compiled_packages/*
src/stubgen_output/*
src/config/schemas/*
src/nodeTrajectories/*
mca_routing_bscap
uv.lock
src/*.*
**/__pycache__
!src/*.py
!src/mobility_bscap
!src/mobility_bscap/*.py
!src/config/cfg/default.yaml
!src/config/schemas/schema.yaml
!src/nodeTrajectories/positions/NodePositions.txt
